<!DOCTYPE html>
<html lang="en">
<body>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CTA | Cégep Édouard-Montpetit -Tableau de bord</title>
{% extends "machines/header_essais.html" %}
{% block body %}
    <div class="container2 fondBlanc">
        <div class="row">
            <div class="col-lg-11">
                <table width="100%">
                    <thead>
                        <tr>
                            <th colspan="9" class="essais">Essais</th>
                            <th colspan="1" class="matières">Matières</th>
                            <th colspan="4" class="machine">Machine</th>
                            <th colspan="3" class="outils">Outils</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ordre des essais</td>
                            <td>État</td>
                            <td>Date</td>
                            <td>Vitesse</td>
                            <td>Vitesse de coupe</td>
                            <td>RPM</td>
                            <td>Avancée</td>
                            <td>Alimentation de coupe</td>
                            <td>Temps de coupe</td>
                            <td>XXXXXX</td>
                            <td>Type machine</td>
                            <td>Nom</td>
                            <td>Fabricant</td>
                            <td>Modèle</td>
                            <td>XXXXXX</td>
                            <td>XXXXXX</td>
                            <td>XXXXXX</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>
