<!DOCTYPE html>
<html lang="en">
<body>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CTA | Cégep Édouard-Montpetit -Tableau de bord</title>
{% extends "machines/header_essais.html" %}
{% block body %}
    <div class="container2 fondBlanc">
        <div class="row">
            <div class="col-lg-11">
                <table class="tableauessais" width="100%">
                    <thead>
                        <tr>
                            <th colspan="9" class="essais">Essais</th>
                            <th colspan="1" class="matières">Matières</th>
                            <th colspan="4" class="machine">Machine</th>
                            <th colspan="3" class="outils">Outils</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ordre des essais <input type="button" value="-"></td>
                            <td>État <input type="button" value="-"></td>
                            <td>Date <input type="button" value="-"></td>
                            <td>Vitesse <input type="button" value="-"></td>
                            <td>Vitesse de coupe <input type="button" value="-"></td>
                            <td>RPM <input type="button" value="-"></td>
                            <td>Avancée <input type="button" value="-"></td>
                            <td>Alimentation de coupe <input type="button" value="-"></td>
                            <td>Temps de coupe <input type="button" value="-"></td>
                            <td>Nom matière <input type="button" value="-"></td>
                            <td>Type machine <input type="button" value="-"></td>
                            <td>Nom <input type="button" value="-"></td>
                            <td>Fabricant <input type="button" value="-"></td>
                            <td>Modèle <input type="button" value="-"></td>
                            <td>Nom outil <input type="button" value="-"></td>
                        </tr>
                    </tbody>
                    <tfoot class="footerDonnéesEssais">
                    {% for i in essais %}
                        <tr>
                            <td>{{ i.ordre_essais}}</td>
                            <td>{{ i.état }}</td>
                            <td>{{ i.date }}</td>
                            <td>{{ i.vitesse }}</td>
                            <td>{{ i.vitesse_coupe }}</td>
                            <td>{{ i.rpm }}</td>
                            <td>{{ i.avancée }}</td>
                            <td>{{ i.alimentation_coupe }}</td>
                            <td>{{ i.temps_coupe }}</td>
                            <td>{{ i.nom_matière }}</td>
                            <td>{{ i.type_machine }}</td>
                            <td>{{ i.nom_machine }}</td>
                            <td>{{ i.fabricant }}</td>
                            <td>{{ i.modèle }}</td>
                            <td>{{ i.nom_outil }}</td>
                        </tr>
                    {% endfor %}
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>
