<!DOCTYPE html>
<html lang="en">
<body>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CTA | Cégep Édouard-Montpetit -Tableau de bord</title>
{% extends "machines/header.html" %}
{% block body %}
    <div class="container blanc">
            <div class="row">
                <div class="col-lg-7">
                    <table width="100%">
                        <thead>
                            <tr>
                                <th colspan="6" class="mainIndexBoard">Objets synthèses</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Ordre des XXXXX</td>
                                <td>Nom de la colonne</td>
                                <td>XXXXXX</td>
                                <td>XXXXXX</td>
                                <td>XXXXXX</td>
                                <td>XXXXXX</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-5">
                    <table width="100%">
                    <thead>
                    <tr>
                        <th colspan="2" class="mainIndexBoard">Objet détaillé : XXXXX</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>Informations</th>
                        <td>Il s'appelle XXXXX</td>
                    </tr>
                    </tbody>
                    </table>
                </div>
            </div>
    </div>
{% endblock %}
</body>
</html>
