<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CTA | Cégep Édouard-Montpetit -Tableau de bord</title>
</head>

<body>
{% extends "machines/header.html" %}
{% block body %}
    <table class="container">
        <thead>
        <tr>
            <th class="test menuhover">Tableau de bord</th>
            <th class="menuhover">Les essais</th>
            <th class="menuhover">Essai</th>
            <th class="menuhover">XXXXXX</th>
            <th class="menuhover">XXXXXX</th>
        </tr>
        <thead>
    </table>
    <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <table width="100%">
                    <thead>
                    <tr>
                        <th colspan="6">Liste des XXXXX</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Test1</td>
                        <td>Test2</td>
                        <td>Test3</td>
                    </tr>
                    </tbody>
                    </table>
                </div>
                <div class="col-lg-5">
                    <table width="100%">
                    <thead>
                    <tr>
                        <th colspan="2">Liste des YYYYY</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Test3</td>
                        <td>Test4</td>
                    </tr>
                    </tbody>
                    </table>
            </div>
                </div>
    </div>
{% endblock %}
</body>

</html>