<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CTA | Cégep Édouard-Montpetit -Tableau de bord</title>
</head>

<body>
{% extends "machines/header.html" %}
{% block body %}
    <table class="container tableaubord">
        <thead>
        <tr>
            <th class="test">Tableau de bord</th>
            <th>Les essais</th>
            <th>Essai</th>
            <th>XXXXXX</th>
            <th>XXXXXX</th>
        </tr>
        <thead>
    </table>
    <table class="container">
        <div class="row">
            <div class="col-lg-7">
                <thead>
                <tr>
                    <th colspan="6">Liste des XXXXX</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Test1</td>
                    <td>Test2</td>
                    <td>Test3</td>
                </tr>
                </tbody>
            </div>
            <div class="col-lg-5">
                <thead>
                <tr>
                    <th>Liste des YYYYY</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Test3</td>
                    <td>Test4</td>
                </tr>
                </tbody>
            </div>
        </div>
    </table>
{% endblock %}
</body>

</html>