#backImgBody {
    background-size: cover;
}

.logo {
    color: white;
    text-align: center;
    margin-top:-40px;
}

.container {
    font-family: "Ropa Sans", sans-serif;
    margin-top: 20px;
    text-align: center;
    color:#003745;
}

.sections {
    background-color: #003745;
    font-size: 13px;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 4px;
    padding-left: 4px;
    border-style: solid;
    border-color: #003745;
    border-width: thin;

}

.inline {
    display: inline-flex;
    padding-left: 0px;
    padding-right: 0px;
}

.recherche {
    text-align: left;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 5px;
    font-style: italic;
    border-width: thin;
    border-style: solid;
    background-color: white;
}

.note {
    text-align: start;
    padding-bottom: 50px;
    padding-top: 2px;
    padding-left: 5px;
    border-width: thin;
    border-style: solid;
    background-color: white;
}

.nonePadding {
    padding-left: 0px;
    padding-right: 0px;
    width: 400px;
}

th, td {
    background-color: white;
}

th:hover {
    background-color: #003745;
    color:white;
}

.table, tr, td, th {
    border: 1px solid #003745;
    padding:5px;
    text-align: left;
}

tr:first-child th {
    border-bottom: 10px solid #003745;
}

.test {
    background-color: #003745;
    color:white;
}

