/* CLASSES OU ID DÉJA EXISTANTS MAIS MODIFIÉES DANS BOOTSTRAP OU DANS LE HTML STANDARD */

a:hover {
    color:white;
    text-decoration: none;
}

a.dropdown-item:hover {
    height:0px;
}

body {
    height:97.9%;
}

.logo2{
    color:white;
    text-align: center;
    margin-left: 10px;
}

.container {
    font-family: "Ropa Sans", sans-serif;
    margin-top: 20px;
    text-align: center;
    color:#003745;
    font-weight: bold;
}

.container2 {
    font-family: "Ropa Sans", sans-serif;
    margin-top: 20px;
    text-align: center;
    color:#003745;
    font-weight: bold;
    margin-left: 3%;
    margin-right: 5%;
}

.dropdown {
  float: left;
}

div.dropdown-menu, a.dropdown-item {
    background-color: #145682;
}

html {
    height:100%;
}

.navbar {
  background-color: #003745;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
    background-color: #145682;
}

.row {
    margin-top: 20px;
}

.table, tr, td, th {
    border: 1px solid #003745;
    padding:5px;
    text-align: left;
}

.footerDonnéesEssais{
    text-align: center;
    font-weight: normal;
}

th, td {
    background-color: white;
    text-align: center;
}

/* CLASSES OU ID CRÉÉES POUR LE PROJET */

.aucunPadding {
    padding-left: 0px;
    padding-right: 0px;
    width: 400px;
}

#backImgBody {
    background-size: cover;
}

.essais{
    background-color: #007a99;
    color: white;
    text-align: center;
}

.dropdownColor:hover {
    color: black;
    background: black;
}

.fondBlanc {
    height:100%;
    background-color:white;
    border-style:solid;
    margin-top:0;
}

.inline {
    display: inline-flex;
    padding-left: 0px;
    padding-right: 0px;
}

.logo {
    margin-top: -40px;
}

.mainIndexBoard {
    background-color: #003745;
    color: white;
    text-align: center;
}

.machine{
    background-color: #005266;
    color: white;
    text-align: center;
}

.matières{
    background-color: #006680;
    color: white;
    text-align: center;
}

.menu {
    max-width: 220px;
}

.outils{
    background-color: #003745;
    color: white;
    text-align: center;
}

.menu:hover {
    background-color: #145682;
}

.recherche {
    padding-top: 12px;
    padding-bottom: 12px;
    font-style: italic;
    border-width: thin;
    border-style: solid;
    background-color: white;
    width:100%;
}

.sections {
    background-color: #003745;
    font-size: 12px;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 4px;
    padding-left: 4px;
    border-style: solid;
    border-color: #003745;
    border-width: thin;
}

.selectionner {
    background-color: #145682;
    color:white;
}

.session {
    margin-top: 15px;
    font-size: 12px;
}

.selectionner .menu{
  float: left;
  overflow: hidden;
}

.tableauessais{
    table-layout: initial;
    width: 100% ;
    margin-left: 60px
}

.bordure-gauche{
    color: white;
    height: 100%;
    border-style: solid;
    border-color: black;
    background-color: #003745;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.bordure-droit {
    color: white;
    height: 100%;
    border-style: solid;
    border-color: black;
    background-color: #003745;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.titre-categorie {
    color: white;
    text-align: left;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    text-decoration: underline;
}

.tableau-alignement {
    margin-left: 18px;
}

tableau-alignement-droit {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.titre-categorie-ext {
    text-align: left;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
    font-weight: bold;
    text-decoration: underline;
}